<title>INTER(MISSION)</title>
<meta name="description" content="INTER(MISSION) - Български музикален хип-хоп проект.">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Inter+Tight:wght@600&display=swap" rel="stylesheet">
<link href="https://raw.githubusercontent.com/intermissionrec/intermissionrec.github.io/refs/heads/main/intermission%20web%20main/files/favicon-light.png" rel="icon" media="(prefers-color-scheme: light)">
<link href="https://raw.githubusercontent.com/intermissionrec/intermissionrec.github.io/refs/heads/main/intermission%20web%20main/files/favicon-dark.png" rel="icon" media="(prefers-color-scheme: dark)">
<link rel="apple-touch-icon" href="https://raw.githubusercontent.com/intermissionrec/intermissionrec.github.io/refs/heads/main/intermission%20web%20main/files/touch-icon.png">
<link rel="stylesheet" href="../assets/style.css">
